a {
    color: #FF6060;
}

.header {
    margin: 20px;
}

.header-body {
    display: flex;
    justify-content: space-between;
}

.nav {
    width: 30%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.link {
    text-decoration: none;
}

.active {
    text-decoration: underline;
}